<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect bian-special-interest-group to registration
  RewriteCond %{HTTP_HOST} ^bian\.ccandcsolutions\.com$ [NC]
  RewriteRule ^bian-special-interest-group/?$ https://ccandcsolutions.com/registration [R=301,L]

  RewriteRule ^about-us/?$ /about [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L,QSA]
</IfModule>
